<div>
  <div class="jumbotron" style="width:80%; margin:auto">
    <h1 class="display-3">Menú Adaptativo</h1>
    <hr class="my-4">
    <p>Por favor Seleccione el archivo que contiene el <b>menú</b> (JSON)</p>
    <p class="lead">
      <input type="file" class="btn btn-primary btn-lg" value="Cargar Archivo" style="margin: 0 auto;"
      id="inputFileMenu" ng-click="uploadFile()"/>
      <div style="margin-top: 2%;">
      </div>
      <input type="button" class="btn btn-success btn-lg" value="Crear Menu" style="margin: 0 auto;display:none;"
      id="createMenu" ng-click="createMenu()"/>
    </p>
    <p class="lead" ng-if="hasMenu">
      O mire el ultimo menu cargado
      <input type="button" class="btn btn-info btn-lg" value="Ver Menu" style="margin: 0 auto;"
      id="viewMenu" ng-click="viewMenu()"/>
    </p>
  </div>
</div>
